body{
  margin:0px;
  padding:0px;
  background-color:#C6C6C6;
}




#con{
  display:flex;
  justify-content:center;
  margin-bottom:2vh;
}
#Head{
  display:flex;
  justify-content:center;
  align-items:center;
  margin-top:1vh;
  background-color:#FAFAFA;
  height:200px;
  width:90vw;
  height:20vh;
  border-radius:1vh;
  border:1px solid #000;
}
#Head img{
  margin-right:5%;
  border-radius:4vw;
  border:1px solid #000;
}
#Head h1{
  font-size:3vw;
  font-size:3vh;
}





#con2{
  display:flex;
  justify-content:center;
}

#about{
  width:90vw;
  height:80vh;
  background-color:#FAFAFA;
  display:flex;
  flex-direction:column;
  align-items:center;
  border-radius:4vw;
  border:1px solid #000;
}
#about img{
  height:5vh;
  margin-bottom:0.5vh;
  border-radius:10px;
  border:1px solid #000;
}
.st{
  font-size:7vh;
  border:1px solid #000;
  border-radius:1vh;
}

.bg{
  width:90%;
  height:5vh;
  font-size:3vh;
  font-size:3vw;
  background-color:#BFBFBF;
  display:flex;
  align-items:center;
  border-radius:0.5vh 1vh 1vh 0.5vh;
  border:1px solid #000;
}
.bg1{
  border-radius:0.5vh 1vh 1vh 0.5vh;
  display:flex;
  align-items:center;
  justify-content:center;
  background-color:white;
}
.bg h1{
  font-size:2vh;
}
#ht{
  width:91%;
  height:100%;
  animation-name:an1;
  animation-play-state:10s;
  animation-iteration-count:infinite;
}
#cs{
  width:61%;
  height:100%;
}
#py{
  width:48%;
  height:100%;
}
#jvs{
  width:11%;
  height:100%;
}












@keyframes an1{
  from{
    width:91%;
  }
  to{
    width:10%;
  }
  
  
  
  
}
